<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="10">

	<listeners>
		<listener
			class-name="com.way2automation.APIBatch5.CustomListeners.TestListeners"></listener>


	</listeners>
	<test name="Test1">

		<classes>
			<class
				name="com.way2automation.APIBatch5.TestCases.ValidateUpdateCustomerAPI" />

		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
